<h1>Locations Table</h1>

<table>
    <thead>
        <tr>
            <th>Location ID</th>
            <th>Dealership location</th>
            <th>Location Address</th>
            <th>View Inventory</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each locations}}
        <tr>
            <td>{{this.locationID}}</td>
            <td>{{this.locationName}}</td>
            <td>{{this.Address}}</td>
            <td>
                <a href="/Locations/{{this.locationID}}/inventory">View Inventory</a>
            </td>

            {{! DELETE form }}
            <td>
                <form id='delete_location_form' action="/Locations/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this location record? This cannot be undone.');">
                    <input type='hidden' name='delete_location_id' value='{{this.locationID}}' />
                    <button type='submit'>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



{{! CREATE form }}
<h2>Add a Location</h2>
<form class='cuForm' id='add_location_form' action="/Locations/create" method="POST" >
    <label for='add_location_address'>Address </label>
    <select name='address_ID' id='add_location_address' required>
        <option value='' disabled selected>Select an Address</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each addresses}}
        <option value='{{this.addressID}}' required>{{this.street}} {{this.state}} {{this.city}} {{this.zipCode}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Location</h2>
<form class='cuForm' id='update_location_form' action="/Locations/update" method="POST">
    <label for='update_location_id'>Location to Update: </label>
    <select name='update_location_ID' id='update_location_id' required>
        <option value='' disabled selected>Select a Location</option>
        {{#each locations}}
        <option value='{{this.locationID}}' required>
            {{this.locationName}}
        </option>
        {{/each}}
    </select>

    <label for='update_location_address'>Address </label>
    <select name='address_ID' id='update_location_address' required>
        <option value='' disabled selected>Select an Address</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each addresses}}
        <option value='{{this.addressID}}' required>{{this.street}} {{this.state}} {{this.city}} {{this.zipCode}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

<h2>Add a vehicle to a Location</h2>
<form class='cuForm' id='add_location_vehicles' action="/Locations/inventory/create" method="POST">
    <label for='add_location_vehicles'>Location: </label>
    <select name='location_ID' id='add_location_vehicles' required>
        <option value='' disabled selected>Select a Location</option>
        {{#each locations}}
        <option value='{{this.locationID}}' required>
            {{this.locationName}}
        </option>
        {{/each}}
    </select>

    <label for='add_location_vehicle'>Vehicle </label>
    <select name='vehicle_ID' id='add_location_vehicle' required>
        <option value='' disabled selected>Select a Vehicle</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each vehicles}}
        <option value='{{this.vehicleID}}' required>{{this.year}} {{this.make}} {{this.model}}</option>
        {{/each}}
    </select>
    <label for='add_location_quantity'>Quantity: </label>
    <input type='number' name='quantity' id='add_location_quantity' required/>

    <input type='submit' />
</form>

<h2>Update A Location's Inventory</h2>
<form class='cuForm' id='update_location_vehicles' action="/Locations/inventory/update" method="POST">
    <label for='update_location_vehicles'>Location and Vehicle: </label>
    <select name='update_location_vehicle_ID' id='update_location_vehicles' required>
        <option value='' disabled selected>Select a Location</option>
        {{#each locationVehicles}}
        <option value='{{this.entryID}}' required>
            {{this.locationName}} - {{this.vehicleModel}}
        </option>
        {{/each}}
    </select>

    <label for='update_location_vehicle'>Change Vehicle To: </label>
    <select name='vehicle_ID' id='update_location_vehicle' required>
        <option value='' disabled selected>Select a Vehicle</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each vehicles}}
        <option value='{{this.vehicleID}}' required>{{this.year}} {{this.make}} {{this.model}}</option>
        {{/each}}
    </select>

    <label for='update_location_quantity'>Quantity: </label>
    <input type='number' name='quantity' id='update_location_quantity' required/>
    <input type='submit' />
</form>