<h1>Vehicles Sold in Order #{{orderID}}</h1>
<table>
    <thead>
        <tr>
            <th>Entry ID</th>
            <th>Year</th>
            <th>Model</th>
            <th>Quantity Sold</th>
        </tr>
    </thead>
    <tbody>
        {{#each vehicles}}
        <tr>
            <td>{{this.entryID}}</td>
            <td>{{this.year}}</td>
            <td>{{this.model}}</td>
            <td>{{this.quantity}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<a href="/Orders">Back to Orders</a>
