<h1>Customer Table</h1>

<table>
    <thead>
         <tr>
            <th>customer ID</th>
            <th>Address</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>

            <td>
                <form id='delete_customer_form' action="/Customers/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this customer record? This cannot be undone.');">
                    <input type='hidden' name='delete_customer_id' value='{{this.customerID}}' />
                    <button type='submit'>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Customer</h2>
<form class='cuForm' id='add_customer_form' action="/Customers/create" method="POST" >
    <label for='add_customer_address'>Address </label>
    <select name='address_ID' id='add_customer_address' required>
        <option value='NULL' selected>Select an Address</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each addresses}}
        <option value='{{this.addressID}}' required>{{this.street}} {{this.state}} {{this.city}} {{this.zipCode}}</option>
        {{/each}}
    </select>

    <label for='add_customer_firstName'>First Name: </label>
    <input type='text' name='first_name' id='add_customer_firstName' required pattern='[A-Za-z]+' title='Please use only letters (no numbers or symbols)'/>

    <label for='add_customer_lastName'>Last Name: </label>
    <input type='text' name='last_name' id='add_customer_lastName' required pattern='[A-Za-z]+' title='Please use only letters (no numbers or symbols)'/>

    <label for='add_customer_phoneNumber'>Phone Number: </label>
    <input type="tel" name="phone_number" id="add_customer_phoneNumber" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Format: 555-706-3410" />

    <label for='add_customer_email'>Email Address:</label>
    <input type="email" name="email" id="add_customer_email" required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_customer_form' action="/Customers/update" method="POST">
    <label for='update_person_id'>Customer to Update: </label>
    <select name='update_customer_ID' id='update_person_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.customerID}}' required>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
        </option>
        {{/each}}
    </select>

    <label for='update_person_address'>Address: </label>
    <select name='address_ID' id='update_person_address'>
        <option value='NULL' disabled selected>Select an Address</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each addresses}}
        <option value='{{this.addressID}}' required>
            {{this.street}} {{this.state}} {{this.city}} {{this.zipCode}}
        </option>
        {{/each}}
    </select>

    <label for='update_customer_firstName'>First Name: </label>
    <input type='text' name='first_name' id='update_customer_firstName' required pattern='[A-Za-z]+' title='Please use only letters (no numbers or symbols)'/>

    <label for='update_customer_lastName'>Last Name: </label>
    <input type='text' name='last_name' id='update_customer_lastName' required pattern='[A-Za-z]+' title='Please use only letters (no numbers or symbols)'/>

    <label for='update_customer_phoneNumber'>Phone Number: </label>
    <input type='text' name='phone_number' id='update_customer_phoneNumber' required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Format: 555-706-3410"/>

    <label for='update_customer_email'>Email Address:</label>
    <input type='email' name='email' id='update_customer_email' required/>   

    <input type='submit' />
</form>