<h1>Order Table</h1>

<table>
    <thead>
        <tr>
            <th>order id</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Location</th>
            <th>Date and Time</th>
            <th>Vehicles Sold</th>
            <th>Transaction Total</th>
            <th>Profit</th>
            <th>View Vehicles Sold</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.employee}}</td>
            <td>{{this.locationName}}</td>
            <td>{{this.dateTime}}</td>
            <td>{{this.vehiclesSold}}</td>
            <td>{{this.transactionTotal}}</td>
            <td>{{this.profit}}</td>
            <td>
                <a href="/Orders/{{this.orderID}}/vehicles">Vehicles Sold</a>
            </td>

            {{! DELETE form }}
            <td>
                <form id='delete_order_form' action="/Orders/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this order record? This cannot be undone.');">
                    <input type='hidden' name='delete_order_id' value='{{this.orderID}}' />
                    <button type='submit'>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create Order</h2>
<form class='cuForm' id='add_order_form' action="/Orders/create" method="POST" >
    <label for='add_order_customer'>Customer:  </label>
    <select name='customer_ID' id='add_order_customer' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.customerID}}' required>{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for='add_order_employee'>Employee: </label>
    <select name='employee_ID' id='add_order_employee' required>
        <option value='' disabled selected>Select an Employee</option>
        {{#each employees}}
        <option value='{{this.employeeID}}' required>{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for='add_order_location'>Location: </label>
    <select name='location_ID' id='add_order_location' required>
        <option value='' disabled selected>Select a Location</option>
        {{#each locations}}
        <option value='{{this.locationID}}' required>{{this.locationName}}</option>
        {{/each}}
    </select>

    <label for='add_dateTime'>Date and Time:</label>
    <input type='datetime-local' name='date_time' id='add_dateTime' required/>

    <input type='submit' />
</form>

<h2>Add A Vehicle To An Order</h2>
<form class='cuForm' id='order_vehicle_form' action="/Orders/vehicles/create" method="POST">
    <label for='OrderVehicle_order_id'> Order Number: </label>
    <select name='order_ID' id='OrderVehicle_order_id' required>
        <option value='' disabled selected>Select an Order</option>
        {{#each orders}}
        <option value='{{this.orderID}}' required>
            Order #{{this.orderID}}
        </option>
        {{/each}}
    </select>

    <label for='OrderVehicle_vehicle_id'>Vehicle to Add: </label>
    <select name='vehicle_ID' id='OrderVehicle_vehicle_id' required>
        <option value='' disabled selected>Select a Vehicle</option>
        {{#each vehicles}}
        <option value='{{this.vehicleID}}' required>
            {{this.year}}
            {{this.model}}
            {{this.type}}
        </option>
        {{/each}}
    </select>
    <label for='OrderVehicle_sale_amount'>Sale Amount:</label>
    <input type='number' name='sale_amount' id='OrderVehicle_sale_amount' required/>

    <label for='OrderVehicle_quantity'>Quantity:</label>
    <input type='number' name='quantity' id='OrderVehicle_quantity' required/>

    <input type='submit'/>
</form>

<h2>Update the Vehicles on an Order</h2>
<form class='cuForm' id='update_order_vehicle_form' action="/Orders/vehicles/update" method="POST">
    <label for='update_OrderVehicle_order_id'> Order Number: </label>
    <select name='update_order_vehicle_ID' id='update_OrderVehicle_order_id' required>
        <option value='' disabled selected>Select an Order</option>
        {{#each ordervehicles}}
        <option value='{{this.entryID}}' required>
            Order #{{this.orderID}} - {{this.vehicleModel}}
        </option>
        {{/each}}
    </select>


    <label for='update_OrderVehicle_vehicle_id'>Change Vehicle to: </label>
    <select name='vehicle_ID' id='update_OrderVehicle_vehicle_id' required>
        <option value='' disabled selected>Select a Vehicle</option>
        {{#each vehicles}}
        <option value='{{this.vehicleID}}' required>
            {{this.year}}
            {{this.model}}
            {{this.type}}
        </option>
        {{/each}}
    </select>

    <label for='update_OrderVehicle_sale_amount'>Sale Amount:</label>
    <input type='number' name='sale_amount' id='update_OrderVehicle_sale_amount'/>

    <label for='update_OrderVehicle_quantity'>Quantity:</label>
    <input type='number' name='quantity' id='update_OrderVehicle_quantity'/>

    <input type='submit' />
</form>